built/
node_modules/
*.swp
.DS_STORE
Session.vim
/video/dance/
docs/demo/bg_estimated_walking.glb
docs/demo/bg_ground_truth_walking.glb
docs/demo/fg_estimated_walking.glb
docs/demo/fg_ground_truth_walking.glb
